body, html {
    margin: 0;
    padding: 0;
    width: 391px; /* Устанавливает ширину экрана */
    height: 844px; /* Устанавливает высоту экрана */
    overflow-y: auto; /* Добавляет вертикальную прокрутку */
    font-family: Arial, sans-serif;
    background-color: #FEF0F2;
    font-family: Arial, sans-serif;
    
}

header {
    background-color: #ffffff; /* Зеленый цвет хедера */
    color: rgb(35, 11, 11);
    padding: 10px;
    text-align: center;
    position: relative; /* Для абсолютного позиционирования меню */
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc; /* Общая граница блока */
    border-bottom: 1px solid #E29727; /* Нижняя граница другого цвета */
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    color: black;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    display: flex;
}

.page {
    padding: 20px;
}

.hidden {
    display: none; /* Скрывает элементы с этим классом */
}

/* Дополнительные стили для страниц */
#catalog, #register, #order {
    margin-top: 20px;
}

/* image 69 */
.images{
    position: absolute;
    width: 78px;
    height: 78px;
    left: 15px;
    top: 41px;

    background: url(1.png);
}

.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;

}
.name{

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #693828;

}

.name_mikro{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 29px;

    color: #693828;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    background-color: #aa5f69;
}

